<h1>DevPoint Community | Welcome Home!</h1>
<p class="intro">Welcome to OUR condo!  WE LOVE HAVING YOU HERE! Be sure to sign up or sign in to access the posts section! 

<div><%= image_tag "Picture1.jpg", class:"pics" %></div>

</p>

<hX>The condo's history:</hX>
<ul class="homeinfoul">
    <li>Established in 1980 once A Flock Of Seagals left town.</li>
    <li>Remodeled in 1999 in prep for Y2K; also made sure to clean up the massive party that was thrown...because the whole condo DID indeed party like it was 1999.</li>
    <li>Recieved reduced admission to the bowling alley below the condo once the teenage mutant ninja turtles decided to head back down to the sewers in 2004.</li>
</ul>

<div class="timenow">
<span>The date/time now is: <%= Time.now.in_time_zone("Mountain Time (US & Canada)") %></span>
</div>


<% if current_user %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> | 
<%= link_to 'Users', users_path %> | 
<%= link_to 'Posts', posts_path %>
<% else %>
<%= link_to 'Login', sign_in_path, class: 'auth_links' %>
<%= link_to 'Sign Up', sign_up_path, class: 'auth_links' %>
<% end %>
