<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">
  <%= favicon_link_tag(source='condofavicon.ico') %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- These notices need to be moved into a partial -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
