<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">
  <%= favicon_link_tag(source='condofavicon.ico') %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700|Roboto:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<nav>
<ul>
	<li>
		<%= link_to 'Home', home_path %>

	</li>
	<li>
		<%= link_to 'FAQ', faq_path %>
	</li>
	<li>
		<%= link_to 'General Info', general_info_path %>
	</li>
<li>
<%= link_to 'Users', users_path %> 
</li>
<li>
<%= link_to 'Posts', posts_path %>
</li>
<li>
<%= link_to 'Login', sign_in_path %>
</li>
<li>
<%= link_to 'Sign Up', sign_up_path %>
</li>
<li>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
</li>
</ul>
</nav>
<%= render 'layouts/notices' %>

<%= yield %>

</div>
</body>
</html>
